
.sort-btns-white {
    color:gray;
    border: 0px;
    background: transparent;
}

.sort-btns-red {
    color:darkred!important;
    border: 0px;
    background: transparent;
}


.sort-btns:hover {
    color:darkred!important;
}

.t-header {
font-weight:800!important;
}


thead th {
    font-weight:900!important;
    font-family:impact;
    font-size:17px!important;
}

.shadow {
    margin-top:10%;
    margin-bottom:10%;
}

.mt--7 {
    background-color: #F5F5F5;
}

.t-header {
    width: 30%
}

.shadow.card {
    border: 1px solid #8898aa;
}

.thead-light {
    border-bottom: 2px solid red;
    height:100px;
}

th {
    height: 100px;
}

td {
    color: black;
    font-weight: 700;

}

.table .thead-light th {
    background-color:#fff;
}

.card-footer {
    border-top:1px solid gray;
}


td:nth-child(2) {
    background-color:#E8E8E8; 
}

td:nth-child(3){
    background-color:#F0F0F0;
}

td:nth-child(4){
    width: 10%;
    background-color:#F5F5F5;
}

td:nth-child(1){
    width:30%;
    background-color:#E0E0E0;
}